* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: #653f3f;
    justify-content: end;
    align-items: center;
}

.header_text {
    color: aliceblue;
    margin: 5px 20px;
    font-size: 2rem;
}

.posts_place {
    width: 100vw;
    height: 80vh;
    background-color: #ad9191;  
    padding-top: 30px;
}

.post {
    position: relative;
    margin: 0px 200px;
    width: 1000px;
    height: 200px;
    background-color: bisque;   
}

.post_header {
    position: relative;
    left: 3%;
    top: 2%;
}

.post_text {
    padding: 10px;
}

.post_author {
    position: absolute;
    top: 75%;
    left: 3%;
}

.post_button {
    position: absolute;
    top: 75%;
    left: 80%;
    background-color: #c28888;
    width: 100px;
    height: 30px;
}